<html>
    <head>
        <title>Summer never ends</title>
    </head>
    <body>
        <div>
            <h1><a href="/">THE SUN ALWAYS SHINES IN BRUSSELS</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:00</p>
            <h2><a href="">Report on the sunshine</a></h2>
            <p><strong>Sun makes us happy. Thank god the sun shines today. Enough about the sun already. O no this whole blog is dedicated to the sun. I'm going to have to continue.</strong></p>
        </div>

        <div>
<br>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pictures of the sunshine.</a></h2>
            <p><strong>Why don't I do it in the next post though?</strong></p>
        </div>
    </body>
</html>
